node_modules/
.DS_Store

# TypeScript
*.tsbuildinfo

# Builds
**/dist/

# Next.js
**/.next/
**/out/

# Logs
**/logs/
*.log

# Environment
.env
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
